.container {
	display: flex;

	.left {
		margin-top: 5.4rem;
	}

	.right {
		.title {
			font-size: 1.73rem;
			font-weight: 700;
			line-height: 2.62rem;
			color: #4f4f4f;
		}

		.containerForm {
			display: flex;

			.input,
			.login {
				margin-top: 24px;
			}

			.leftForm {
				max-width: 358px;

				.showTextParentEmail {
					margin-top: 24px;
					display: inline-block;
					height: 56px;
					width: calc(100% - 95px);
					text-align: center;
					cursor: pointer;
					padding-top: 10px;
				}
			}

			.rightForm {
				max-width: 358px;

				.login {
					width: 100%;
					text-align: center;
					font-size: 0.93rem;

					a {
						padding-left: 4px;
					}
				}

				.registerButton {
					margin-top: 16px;
				}

				.acceptLabels {
					margin-top: 20px;
				}
			}
		}
	}
}

.modalParentEmail {
	p,
	button,
	.input {
		margin-bottom: 16px;
	}
}
