.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	padding: 16px 8px;
	text-align: center;

	div {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 10px;

		.text {
			margin-right: 40px;
		}
	}
}
