.wrapper {
	padding: 6.25rem 10rem;
	display: flex;

	.left {
		h1,
		h3 {
			position: absolute;
			max-width: 32rem;
			z-index: 1;
			color: #fff;
			margin: 4.5rem 0 1.65rem 5.8rem;
		}
		.title {
			font-size: 2.5rem;
			font-weight: 700;
		}
		.subTitle {
			margin-top: 12rem;
			font-size: 1.75rem;
			font-weight: 400;
		}
		.button {
			position: absolute;
			border-radius: 1.25rem;
			margin: 20.5rem 0 0 22.5rem;
			z-index: 1;
			font-size: 0.75rem;
			font-weight: 600;
			line-height: 18px;
			color: #0e2c4f;
			background-color: #fff;
			flex: none;
			order: 0;
			flex-grow: 0;
		}
	}

	.right {
		max-width: 22rem;
		.title {
			font-size: 1.73rem;
			font-weight: 700;
			line-height: 2.62rem;
			color: #4f4f4f;
		}

		.login {
			padding: 14px;
			margin-top: 1.5rem;
		}

		.input {
			margin-top: 1.5rem;
		}

		.register {
			margin-top: 2.19rem;
			width: 100%;
			text-align: center;
			font-size: 0.93rem;

			a {
				padding-left: 4px;
			}
		}
	}
}
