.list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	li {
		cursor: pointer;

		.donateButton {
			border-radius: 3.12rem;
			height: 42px;
			font-size: 0.82rem;
			font-weight: 600;
		}
		width: auto;
	}
}
